[Unit]
Description=temBoard Server
After=network.target

[Service]
Type=simple
User=temboard
Group=temboard
Environment="SYSTEMD=1"
ExecStart=/usr/bin/temboard -c /etc/temboard/temboard.conf serve
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
