root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
# Unix-style newlines
end_of_line = lf
# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true
# Newline ending every file
insert_final_newline = true
# Sync it with default flake8 value.
max_line_length = 79

# 2 space indentation for UI
[*.{css,html,js,json,scss,yml,yaml,sql,vue}]
indent_size = 2

[*.sql]
indent_style = tab

[{*.sh,Makefile}]
indent_size = 8
indent_style = tab
