# Python runtime files
*.egg-info/
*.ipynb_checkpoints
*.pyc

# Buildtime files
build/
dist/
!.github/actions/dist
# ViteJS assets
ui/temboardui/static/*.css
ui/temboardui/static/css/
ui/temboardui/static/images/
ui/temboardui/static/*.js
ui/temboardui/static/js/
ui/temboardui/static/fontawesome-webfont.*
ui/temboardui/static/manifest.json

# From dev compose project
.env
dev/agent-bash_history
dev/agent-psql_history
dev/pip-cache
dev/venv-py*
dev/prometheus/targets/*.yaml

# Test runtime files
.coverage
# from pytest-log
test_log.log
tests/downloads/
tests/logs/
tests/screenshots/
tests/workdir/

# Nodejs buildtime files
node_modules/

# temBoard runtime files
dev/temboard/
temboard-func.log

# Help developer customize their development environment
docker-compose.override.yml
temboard.conf.d/
*.log
dev/prometheus/import/*.txt
