# Python runtime files
*.egg-info/
*.ipynb_checkpoints
*.pyc
.venv/

dev/downloads/
dev/bin/prometheus
dev/bin/promtool

# Buildtime files
build/
dist/
!.github/actions/dist
# ViteJS assets
ui/temboardui/static/*.css
ui/temboardui/static/css/
ui/temboardui/static/images/
ui/temboardui/static/*.js
ui/temboardui/static/js/
ui/temboardui/static/fontawesome-webfont*
ui/temboardui/static/manifest.json
ui/temboardui/static/.vite/

# From dev compose project
.env
dev/agent-bash_history
dev/agent-psql_history
dev/pip-cache
dev/prometheus/targets/*.yaml

# Test runtime files
# from pytest-log
test_log.log
tests/downloads/
tests/logs/
tests/screenshots/
tests/workdir/
tests/results.xml

# Nodejs buildtime files
node_modules/

# temBoard runtime files
dev/temboard/
temboard-func.log

# Help developer customize their development environment
docker-compose.override.yml
temboard.conf.d/
*.log
dev/prometheus/import/*.txt

# Vendoring
agent/temboardagent/_vendor/
ui/temboardui/_vendor/
