target-version = "py39"

[lint]
extend-select = [
    "I",  # Sort imports
]
ignore = [
    "E721",  # Do not compare types, use `isinstance()`
]

[lint.isort]
split-on-trailing-comma = false

[format]
skip-magic-trailing-comma = true
line-ending = "lf"
docstring-code-format = true
