version: '2.4'

volumes:
  data:
  run:

services:
  repository:
    image: postgres:12-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: temboard
      POSTGRES_PASSWORD: temboard

  instance:
    image: postgres:12-alpine
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command: postgres -c shared_preload_libraries=pg_stat_statements
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql
      - type: bind
        source: ./share/sql/pg_stat_statements-create-extension.sql
        target: /docker-entrypoint-initdb.d/pg_stat_statements-create-extension.sql

  agent:
    image: dalibo/temboard-agent
    ports:
      - 2345:2345
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql
      - /var/run/docker.sock:/var/run/docker.sock
    links:
      - instance:instance.fqdn
    environment:
      TEMBOARD_HOSTNAME: instance.fqdn
      TEMBOARD_KEY: key_for_agent0
      TEMBOARD_UI_URL: https://172.17.0.1:8888
      TEMBOARD_REGISTER_HOST: 0.0.0.0
      TEMBOARD_REGISTER_PORT: 2345
      TEMBOARD_GROUPS: default
