# See docs/contributing.rst to figure out how to use this docker-compose file

version: '2'

volumes:
  data:
  run:

services:
  repository:
    image: postgres:10-alpine
    environment:
      POSTGRES_USER: temboard
      POSTGRES_PASSWORD: temboard
    labels:
      com.dnsdock.alias: postgres.tba.docker

  ui:
    image: dalibo/temboard:latest
    links:
      - repository
    environment:
      PGHOST: repository
      PGUSER: temboard
      PGPASSWORD: temboard
    ports:
      - "8888:8888"
    labels:
      com.dnsdock.alias: ui.tba.docker

  instance:
    image: postgres:10-alpine
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql
    labels:
      com.dnsdock.alias: instance.tba.docker

  agent:
    image: dalibo/temboard-agent
    environment:
      HISTFILE: /usr/local/src/temboard-agent/docker/histfile
      TEMBOARD_UI_URL: https://ui:8888/
      TEMBOARD_HOSTNAME: instance.tba.docker
      TEMBOARD_KEY: key_for_agent_dev
      TEMBOARD_SSL_CA: /usr/local/src/temboard-agent/share/temboard-agent_ca_certs_CHANGEME.pem
      TEMBOARD_SSL_CERT: /usr/local/src/temboard-agent/share/temboard-agent_CHANGEME.pem
      TEMBOARD_SSL_KEY: /usr/local/src/temboard-agent/share/temboard-agent_CHANGEME.key
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql/:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/usr/local/src/temboard-agent/
    links:
      - instance:instance.tba.docker
    command: tail -f /dev/null
    labels:
      com.dnsdock.alias: agent.tba.docker
