version: '2.4'

volumes:
  data:
  run:

services:
  repository:
    image: postgres:14-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  postgres:
    image: postgres:14-alpine
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command: postgres -c shared_preload_libraries=pg_stat_statements
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql
      - type: bind
        source: ./share/sql/pg_stat_statements-create-extension.sql
        target: /docker-entrypoint-initdb.d/pg_stat_statements-create-extension.sql

  agent:
    image: dalibo/temboard-agent
    ports:
      - 2345:2345
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/usr/local/src/temboard/
      - ./agent/:/usr/local/src/temboard-agent/
    links:
      - postgres:postgres.dev
    environment:
      # Perists bash history. Eases reuse of pip install and hupper command when
      # recreating container.
      HISTFILE: /usr/local/src/temboard/docker-agent-bash_history
      TEMBOARD_HOSTNAME: postgres.dev
      TEMBOARD_LOGGING_LEVEL: DEBUG
      TEMBOARD_KEY: key_for_agent
      TEMBOARD_SSL_CA: /usr/local/src/temboard-agent/share/temboard-agent_ca_certs_CHANGEME.pem
      TEMBOARD_SSL_CERT: /usr/local/src/temboard-agent/share/temboard-agent_CHANGEME.pem
      TEMBOARD_SSL_KEY: /usr/local/src/temboard-agent/share/temboard-agent_CHANGEME.key
    command: [/usr/bin/tini, sleep, infinity]

  smtp:
    image: python:3
    ports:
      - 8025:8025
    command: [python3, -m, smtpd, --debug, --nosetuid, --class, DebuggingServer]
