version: '2'

volumes:
  rdata:
  rrun:
  data:
  run:

services:
  repository:
    image: postgres:12-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: temboard
      POSTGRES_PASSWORD: temboard
    volumes:
      - rdata:/var/lib/postgresql/data
      - rrun:/var/run/postgresql
      - ./share/sql/application.sql:/docker-entrypoint-initdb.d/00-temboard.sql
      - ./share/sql/monitoring.sql:/docker-entrypoint-initdb.d/10-plugin-monitoring.sql
      - ./share/sql/alerting.sql:/docker-entrypoint-initdb.d/11-plugin-alerting.sql
      - ./share/sql/dev-fixture.sql:/docker-entrypoint-initdb.d/90-dev-fixture.sql

  instance:
    image: postgres:12-alpine
    ports:
      - 5433:5432
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql

  agent:
    image: dalibo/temboard-agent
    ports:
      - 2345:2345
    volumes:
      - data:/var/lib/postgresql/data
      - run:/var/run/postgresql
      - /var/run/docker.sock:/var/run/docker.sock
    links:
      - instance:instance.fqdn
    environment:
      TEMBOARD_HOSTNAME: instance.fqdn
      TEMBOARD_KEY: key_for_agent0
      TEMBOARD_UI_URL: https://172.17.0.1:8888
      TEMBOARD_REGISTER_HOST: 0.0.0.0
      TEMBOARD_REGISTER_PORT: 2345
      TEMBOARD_GROUPS: default
