include LICENSE
graft temboardui/static
graft temboardui/templates
graft temboardui/plugins/pgconf/static
graft temboardui/plugins/pgconf/templates
graft temboardui/plugins/activity/static
graft temboardui/plugins/activity/templates
graft temboardui/plugins/dashboard/static
graft temboardui/plugins/dashboard/templates
graft temboardui/plugins/monitoring/static
graft temboardui/plugins/monitoring/templates
graft share
