graft ganeshwebui/static
graft ganeshwebui/templates
graft ganeshwebui/plugins/administration/static
graft ganeshwebui/plugins/administration/templates
graft ganeshwebui/plugins/activity/static
graft ganeshwebui/plugins/activity/templates
graft ganeshwebui/plugins/dashboard/static
graft ganeshwebui/plugins/dashboard/templates
graft ganeshwebui/plugins/supervision/static
graft ganeshwebui/plugins/supervision/templates
