{% extends base.html %}

{% block title %}temBoard{% end %}

{% block head %}
{% for link in vitejs.css_links_for('home.js') %}{% raw link %}{% end %}
{% end %}

{% block content %}
{% import json %}
<script>
var groups = {% raw json.dumps([i[0] for i in groups]) %};
</script>
<script type="module" src="{{ vitejs.url_for('home.js') }}"></script>
<div class="position-absolute" style="z-index: 2; right: 0;">
  <a class="btn btn-link fullscreen" href data-toggle="popover" data-trigger="hover" data-content="Full screen" data-placement="bottom">
    <i class="fa fa-expand"></i>
  </a>
</div>
<div id="instances">
</div>
{% end %}
