{% extends base.html %}

{% block title %}[{{instance.hostname}}:{{instance.pg_port}}] - Notifications{% end %}

{% block content %}
<div class="limiter">
<div class="row">
  <div class="col-12">
    <table id="tableNotifications" class="table table-sm table-striped" cellspacing="0">
    <thead>
      <tr>
        <th width="150">Date</th>
        <th>Username</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      {% for notification in notifications %}
      <tr>
        <td>{{notification['date']}}</td>
        <td>{{notification['username']}}</td>
        <td>{{notification['message']}}</td>
      </tr>
      {% end %}
    </tbody>
    </table>
  </div>
</div>
</div> <!-- end limiter -->
<script src="/js/datatables/datatables.min.js"></script>
<script>
$(document).ready(function() {
  $('#tableNotifications').DataTable({
    order: [[0, 'desc']],
    pageLength: 25
  });
});
</script>
{% end %}
