apiVersion: 1

datasources:
- "id": 1
  "uid": "01lWBBhnk"
  "orgId": 1
  "name": "Prometheus"
  "type": "prometheus"
  "typeName": "Prometheus"
  "typeLogoUrl": "public/app/plugins/datasource/prometheus/img/prometheus_logo.svg"
  "access": "proxy"
  "url": "http://prometheus:9090/"
  "password": ""
  "user": ""
  "database": ""
  "basicAuth": false
  "isDefault": true
  "jsonData":
    "httpMethod": "POST"
    "timeInterval": "60s"
  "readOnly": false
