services:
  bookworm: &mkdeb
    image: dalibo/buildpack-pkg:bookworm
    environment:
      # See dch(1)
    - DEBFULLNAME
    - DEBEMAIL
    - VERSION
    volumes:
    - ../..:/workspace
    command: /workspace/packaging/deb/mkdeb.sh

  bullseye:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:bullseye

  jammy:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:jammy

  noble:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:noble