# This compose file requires a few environment variables, see root Makefile for
# details.
networks:
  # By default, hook containers in network managed by root docker-compose.yml
  default:
    name: "${NETWORK}"
    external: true

volumes:
  home:
  run:

services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_PASSWORD: confinment
    command: [
      postgres,
      -c, shared_preload_libraries=pg_stat_statements,
      -c, "cluster_name=postgres-${TEMBOARD_REGISTER_PORT}",
    ]
    volumes:
      - home:/var/lib/postgresql
      - run:/var/run/postgresql
      - type: bind
        source: ../ui/share/sql/pg_stat_statements-create-extension.sql
        target: /docker-entrypoint-initdb.d/pg_stat_statements-create-extension.sql
    healthcheck:
      test: ["CMD-SHELL", "psql -h localhost -U postgres -c \"SELECT 'HAS_STATEMENTS' FROM information_schema.tables WHERE table_schema = 'public' AND table_name = 'pg_stat_statements';\""]
      interval: 2s
      timeout: 2s
      retries: 5

  agent:
    image: dalibo/temboard-agent:dev
    ports:
      - ${TEMBOARD_REGISTER_PORT}:2345
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - home:/var/lib/postgresql
      - run:/var/run/postgresql
    links:
      - "postgres:postgres-${TEMBOARD_REGISTER_PORT}.dev"
    environment:
      TEMBOARD_HOSTNAME: "postgres-${TEMBOARD_REGISTER_PORT}.dev"
      TEMBOARD_LOGGING_LEVEL: DEBUG
      TEMBOARD_UI_URL: http://172.17.0.1:8888
      TEMBOARD_UI_USER: admin
      TEMBOARD_UI_PASSWORD: admin
      TEMBOARD_REGISTER_HOST: 172.17.0.1
      TEMBOARD_REGISTER_PORT: "${TEMBOARD_REGISTER_PORT}"
      TEMBOARD_ENVIRONMENT: mass
