check-manifest
flake8
pytest
pytest-cov
pytest-mock
pytest-tornado
pytz  # for dev/perfui/
mock
docutils
pep440deb
wheel
# For integration tests
httpx; python_version >= '3.6'
selenium; python_version >= '3.6'
sh<2; python_version >= '3.6'
tenacity<8.4; python_version >= '3.6'
