{% extends base.html %}

{% block title %}temBoard - Home{% end %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ul class="list-group instance-list">
    {% for instance in instance_list %}
      {% set plugin_names = [plugin.plugin_name for plugin in instance.plugins] %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <a href="/server/{{instance.agent_address}}/{{instance.agent_port}}/dashboard"
                 class="btn btn-default btn-sm">
                View
              </a>
            </div>
            <strong>
              <a href="/server/{{instance.agent_address}}/{{instance.agent_port}}/dashboard">
              {{instance.hostname}}
              </a>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <dl class="dl-horizontal small">
              <dt>Host: </dt>
              <dd>{{instance.agent_address}}</dd>
              <dt>Data: </dt>
              <dd>{{instance.pg_data}}</dd>
              <dt>Port: </dt>
              <dd>{{instance.pg_port}}</dd>
              <dt>Version: </dt>
              <dd>{{instance.pg_version}}</dd>
            </dl>
          </div>
          <div class="col-md-6">
            <span>{% for group in instance.groups %} <span class="label label-default">{{group.group_name}}</span>{% end %}</span>
          </div>
        </div>
      </li>
    {% end %}
    </ul>
  </div>
</div>
{% end %}
