{% extends base.html %}

{% block title %}temBoard - Login{% end %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" id="panelLogin">
      <div class="panel-heading panel-heading-inverse text-center">
        <img src="/images/temboard-150x32-w.png" />
      </div>
      <div class="panel-body">
        {% try %}{% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% end %}{% except %}{% end %}
        <form role="form" action="/login" method="post">
          <div class="row">
            <div class="form-group col-sm-8 col-sm-offset-2">
              <label for="inputUsername" class="control-label">Username</label>
              <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" autofocus>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-8 col-sm-offset-2">
              <label for="inputPassword" class="control-label">Password</label>
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-lg btn-primary">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% end %}
