<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a href="/settings/instances" class="nav-link"><i class="fa fa-fw fa-database"></i>Instances</a>
  </li>
  <li class="nav-item">
    <a href="/settings/groups/instance" class="nav-link"><i class="fa fa-fw fa-folder"></i>Instance groups</a>
  </li>
  <li class="nav-item">
    <a href="/settings/users" class="nav-link"><i class="fa fa-fw fa-user"></i>Users</a>
  </li>
  <li class="nav-item">
    <a href="/settings/groups/role" class="nav-link"><i class="fa fa-fw fa-users"></i>User groups</a>
  </li>
  <li class="nav-item">
    <a href="/settings/notifications" class="nav-link"><i class="fa fa-fw fa-paper-plane"></i>Alert notifications</a>
  </li>
  <li class="nav-item">
    <a href="/about" class="nav-link"> <i class="fa fa-fw fa-info"></i>About temBoard</a>
  </li>
</ul>
