version: 2.1

workflows:
  version: 2
  default:
    jobs:
    - doc: {name: stage0-doc}
    - unit: {name: stage0-unit}
    - rpm-centos7: {name: stage0-pkg-centos7}
    - deb:
        name: stage0-pkg-<< matrix.codename >>
        matrix:
          parameters:
            codename: [buster, stretch, jessie]
    - func:
        name: stage1-func-pg12-centos7
        requires: [stage0-unit]
        dist: centos7
        pgversion: "12"
    - func:
        name: stage1-func-pg9.5-buster
        requires: [stage0-unit]
        dist: buster
        pgversion: "9.5"

jobs:
  doc:
    docker: [{image: "python:3.5"}]
    working_directory: ~/project
    steps:
    - checkout
    - run: git submodule update --init
    - run:
        name: Build documentation with mkdocs
        command: |
          pip install --upgrade --requirement docs/requirements.txt
          mkdocs build --strict
    - store_artifacts:
        path: README.html
        destination: build/README.html

  unit:
    docker: [{image: "python:2.7"}]
    working_directory: /workspace
    steps:
      - checkout
      - run: git submodule update --init
      - &pip-cache-restore
        restore_cache:
          keys:
            - temboard-{{ .Branch }}
            - temboard-master
      - run:
          name: Setup python environment
          command: |
            pip2.7 install --upgrade --requirement requirements-ci.txt --editable .
      - run:
          name: Lint
          command: |
            # See https://discuss.circleci.com/t/commit-range-environment-variable/10410
            git diff --check $(git merge-base origin/master $CIRCLE_SHA1)..$CIRCLE_SHA1
            flake8
            python2.7 setup.py --long-description | rst2html.py --verbose --halt=warning - >/dev/null
            check-manifest
      - run:
          name: Python tests
          command: |
            pytest --full-trace --cov-report=xml tests/unit/
      - &pip-cache-save
        save_cache:
          key: temboard-{{ .Branch }}
          paths: ["~/.cache/pip/"]

  rpm-centos7:
    docker: [{image: "rpmbuild/centos7"}]
    working_directory: ~/workspace
    steps:
    - checkout
    - run: git submodule update --init
    - run:
        name: Build RPM snapshot
        command: |
          sudo yum-builddep -y packaging/rpm/temboard.spec
          python setup.py sdist
          VERSION=$(python setup.py --version) packaging/rpm/build.sh
    - store_artifacts:
        path: ~/workspace/dist/
    - persist_to_workspace:
        root: .
        paths:
        - dist/rpm/noarch/*.rpm

  deb:
    parameters:
      codename:
        description: "Debian version"
        type: enum
        enum: [buster, stretch, jessie]
    docker: [{image: "dalibo/temboard-agent-sdk:<< parameters.codename >>"}]
    working_directory: ~/workspace
    steps:
    - checkout
    - run: git submodule update --init
    - run:
        command: ./packaging/deb/mkdeb.sh
        environment:
          DEBFULLNAME: CircleCI
          DEBEMAIL: none@example.com
    - store_artifacts:
        path: ~/workspace/dist/
    - persist_to_workspace:
        root: .
        paths: [dist/*.deb]

  func:
    parameters:
      dist:
        description: "Distribution"
        type: enum
        enum: [buster, stretch, jessie, centos7]
      pgversion:
        description: "PostgreSQL version for repository."
        type: enum
        enum: ["13", "12", "11", "10", "9.6", "9.5"]
    docker:
    - image: dalibo/buildpack-python:<< parameters.dist >>
      environment:
        PGHOST: 0.0.0.0
        PGUSER: temboard
        PGPASSWORD: &PGPASSWORD confidentiel
        SELENIUM: http://0.0.0.0:4444
        TEMBOARD_PASSWORD: *PGPASSWORD
    - image: postgres:<< parameters.pgversion >>-alpine
      environment:
        POSTGRES_USER: temboard
        POSTGRES_PASSWORD: *PGPASSWORD
    - image: selenium/standalone-firefox
    steps:
    - checkout
    - run: git submodule update --init
    - *pip-cache-restore
    - run:
        name: Functionnal tests
        command: tests/func/run.sh
    - *pip-cache-save
    - store_artifacts:
        path: temboard-func.logs
