version: 2.1

workflows:
  version: 2
  # In CircleCI, release pipeline is a subset of main pipeline. By default,
  # jobs as skipped on tags. Jobs enabled for tags constitute the release
  # pipeline.
  #
  # release job is skipped on branches.
  default:
    jobs:
    - static:
        name: stage0-static
        filters: &enable-for-tags
          tags:
            only: '/v.+/'
    - python:
        name: stage0-unit-py<< matrix.pyversion >>
        matrix:
          parameters:
            pyversion: ["3.9"]
    - dist:
        name: stage0-dist
        requires: [stage0-static]
        filters:
          <<: *enable-for-tags
    - rpm:
        name: stage1-pkg-<< matrix.codename >>
        filters:
          <<: *enable-for-tags
        matrix:
          parameters:
            codename: [rockylinux10, rockylinux9, rockylinux8]
        requires: [stage0-dist]
    - deb:
        name: stage1-pkg-<< matrix.codename >>
        filters:
          <<: *enable-for-tags
        matrix:
          parameters:
            codename: [trixie, bookworm, bullseye, noble, jammy]
        requires: [stage0-dist]
    # Take care of PostgreSQL version dispatch amongst distribution
    # as documented at https://hub.docker.com/repository/docker/dalibo/buildpack-postgres/general#tags
    - e2e: &e2e
        name: stage2-e2e-pg<< matrix.pgversion >>-<< matrix.dist >>
        requires:
        - stage0-unit-py3.9
        - stage1-pkg-<< matrix.dist >>
        matrix:
          parameters:
            pgversion: ["18"]
            dist: [rockylinux10]
    - e2e:
        <<: *e2e
        matrix:
          parameters:
            pgversion: ["17"]
            dist: [trixie]
    - e2e:
        <<: *e2e
        matrix:
          parameters:
            pgversion: ["16"]
            dist: [rockylinux9]
    - e2e:
        <<: *e2e
        matrix:
          parameters:
            pgversion: ["13"]
            dist: [bookworm]
    - e2e:
        <<: *e2e
        matrix:
          parameters:
            pgversion: ["14"]
            dist: [rockylinux8]
    - e2e:
        <<: *e2e
        matrix:
          parameters:
            pgversion: ["11"]
            dist: [bullseye]
    - release:
        name: stage3-release
        # Send secrets to this jobs from temboard CircleCI context.
        context: temboard
        requires:
        - stage1-pkg-rockylinux10
        - stage1-pkg-rockylinux9
        - stage1-pkg-rockylinux8
        - stage1-pkg-trixie
        - stage1-pkg-bookworm
        - stage1-pkg-bullseye
        - stage1-pkg-noble
        - stage1-pkg-jammy
        filters:
          <<: *enable-for-tags
          # Skip on branches!
          branches:
            ignore: '/.*/'
    - docker:
        name: stage3-docker
        context: temboard
        requires: [stage1-pkg-bookworm]
        filters:
          <<: *enable-for-tags


jobs:
  static:
    docker: [{image: node:20}]
    working_directory: &working_directory /workspace
    steps:
    - checkout
    - restore_cache:
        keys:
          - v1-node-{{ checksum "ui/package-lock.json" }}
          - v1-node
    - run:
        name: Install Browser packages
        command: |
          cd ui;
          npm install-clean
    - run:
        name: Lint
        command: |
          cd ui;
          npx prettier --check .
    - run:
        name: Build browser assets
        command: |
          make static
    - persist_to_workspace:
        root: .
        paths: [ui/temboardui/static/]
    - save_cache:
        paths:
          - ui/node_modules
        key: v1-node-{{ checksum "ui/package-lock.json"}}

  dist:
    docker: [{image: dalibo/buildpack-python:trixie}]
    working_directory: *working_directory
    steps:
    - checkout
    - attach_workspace:
        at: *working_directory
    - run:
        name: Build Agent & UI
        command: |
          make dist
    - persist_to_workspace:
        root: .
        paths:
        - agent/dist/*.tar.gz
        - agent/dist/*.whl
        - ui/dist/*.tar.gz
        - ui/dist/*.whl

  python:
    parameters:
      pyversion:
        description: "Python version"
        type: enum
        enum: ["3.9"]
    docker:
      - image: dalibo/buildpack-python:<< parameters.pyversion >>
    working_directory: *working_directory
    steps:
      - checkout
      - run:
          name: Shellcheck
          command: |
            shellcheck ui/share/purge.sh ui/share/create_repository.sh ui/share/auto_configure.sh
      - restore_cache: &restore_cache_uv
          keys:
            - v1-uv-{{ checksum "uv.lock" }}-{{ checksum "agent/vendor.txt" }}-{{ checksum "ui/vendor.txt"}}
            - v1-uv
      - run:
          name: Setup python environment
          environment:
            UV_NO_GROUP: docs
          command: |
            make install-3.9
      - run:
          name: Agent
          environment:
            UV_NO_SYNC: "1"
          command: |
            # See https://discuss.circleci.com/t/commit-range-environment-variable/10410
            git --no-pager diff --check $(git merge-base origin/master $CIRCLE_SHA1)..$CIRCLE_SHA1
            uv run ruff check agent/
            uv run ruff format --check agent/
            uv run check-manifest --no-build-isolation agent/
            uv run pytest --full-trace agent/tests/unit/
      - run:
          name: UI
          environment:
            UV_NO_SYNC: "1"
          command: |
            set -x
            uv run ruff check ui/
            uv run ruff format --check ui/
            uv run check-manifest --no-build-isolation ui/
            uv run pytest --full-trace ui/tests/unit/
      - run:
          name: Lint E2E
          environment:
            UV_NO_SYNC: "1"
          command: |
            uv run ruff check tests/
            uv run ruff format --check tests/
      - save_cache:
          key: v1-uv-{{ checksum "uv.lock" }}-{{ checksum "agent/vendor.txt" }}-{{ checksum "ui/vendor.txt"}}
          paths: ["~/.cache/uv/"]

  rpm:
    parameters:
      codename:
        description: "RHEL-clone distribution"
        type: enum
        enum: [rockylinux10, rockylinux9, rockylinux8]
    docker: [{image: "dalibo/buildpack-pkg:<< parameters.codename >>"}]
    working_directory: *working_directory
    steps:
    - checkout
    - attach_workspace:
        at: *working_directory
    - restore_cache: *restore_cache_uv
    - run:
        name: Build Agent RPM snapshot
        command: |
          agent/packaging/nfpm/mkrpm.sh
    - run:
        name: Build UI RPM snapshot
        command: |
          ui/packaging/nfpm/mkrpm.sh
    - persist_to_workspace:
        root: .
        paths:
        - agent/dist/*.noarch.rpm
        - ui/dist/*.x86_64.rpm

  deb:
    parameters:
      codename:
        description: "Debian version"
        type: enum
        enum: [trixie, bookworm, bullseye, noble, jammy]
    docker: [{image: "dalibo/buildpack-pkg:<< parameters.codename >>"}]
    working_directory: *working_directory
    environment:
      DEBFULLNAME: CircleCI
      DEBEMAIL: none@example.com
    steps:
    - checkout
    - attach_workspace:
        at: *working_directory
    - restore_cache: *restore_cache_uv
    - run:
        name: Build UI Debian Snapshot
        command: ui/packaging/nfpm/mkdeb.sh
    - run:
        name: Build Agent Debian Snapshot
        command: agent/packaging/nfpm/mkdeb.sh
    - persist_to_workspace:
        root: .
        paths:
        - 'agent/dist/*_all.deb'
        - 'ui/dist/*.deb'

  e2e:
    parameters:
      dist:
        description: "Distribution"
        type: enum
        enum: [trixie, bookworm, bullseye, rockylinux10, rockylinux9, rockylinux8]
      pgversion:
        description: "PostgreSQL version for repository."
        type: enum
        enum: ["18", "17", "16", "15", "14", "13", "12", "11", "10", "9.6", "9.5"]
    resource_class: large
    docker:
    - image: dalibo/buildpack-postgres:<< parameters.dist >>
      environment:
        PGHOST: localhost
        PGPASSWORD: &PGPASSWORD confidentiel
        PGUSER: postgres
        SELENIUM: http://0.0.0.0:4444
    - image: postgres:<< parameters.pgversion >>-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: *PGPASSWORD
      command: [
        -c, log_statement=all,
        -c, log_connections=on,
        -c, "log_line_prefix=%m [%p]: [%l-1] app=%a,db=%d,client=%h,user=%u ",
        -c, cluster_name=repository,
      ]
    - image: selenium/standalone-firefox@sha256:b6d8279268b3183d0d33e667e82fec1824298902f77718764076de763673124f
      environment:
        SCREEN_WIDTH: 1280
        SCREEN_HEIGHT: 768
    working_directory: *working_directory
    steps:
    - checkout
    - attach_workspace:
        at: *working_directory
    - run:
        name: Install temBoard UI & agent
        command: tests/install-all.sh
    - restore_cache:
        keys:
          - v1-e2e-{{ checksum "uv.lock" }}
          - v1-e2e
    - run:
        name: Install test dependencies
        command: |
          uv venv --python=$(grep -oP '^#!\K.+' /usr/bin/temboard) --clear --no-managed-python
          uv sync --frozen --no-default-groups --group=e2e
    - run:
        name: Run pytest
        command: |
          set -ux
          upstream=master  # Update when branching to v8.
          PGVERSION=<< parameters.pgversion >>
          PGVERSION=${PGVERSION%rc*}
          PGVERSION=${PGVERSION%beta*}
          uv run --no-sync tests/pytest-ci $upstream -vvv --pg-version=$PGVERSION --junit-xml=tests/results.xml tests/
    - store_artifacts:
        path: /workspace/tests/downloads/
    - store_artifacts:
        path: /workspace/tests/logs/
    - store_artifacts:
        path: /workspace/tests/screenshots/
    - store_test_results:
        path: /workspace/tests/results.xml
    - save_cache:
        paths: ["~/.cache/pip"]
        key: v1-e2e-{{ checksum "uv.lock" }}

  release:
    # Configure secrets of this job in temboard CircleCI context.
    docker: [{image: dalibo/buildpack-python:bookworm}]
    working_directory: *working_directory
    steps:
    - checkout
    - attach_workspace:
        at: *working_directory
    - run:
        name: Create GitHub release
        command: |
          if [[ "${CIRCLE_TAG#v}" =~ [a-z] ]] ; then
            args=(--prerelease)
          else
            args=()
          fi

          find agent/dist ui/dist

          gh release create \
            $CIRCLE_TAG \
            agent/dist/*{.tar.gz,.whl,_all.deb,.noarch.rpm} \
            ui/dist/*{.tar.gz,.whl,_amd64.deb,.x86_64.rpm} \
            --title "${CIRCLE_TAG#v}" \
            -F <(make -s release-notes VERSION=${CIRCLE_TAG#v}) \
            "${args[@]}"
    - run:
        name: Upload Agent to PyPI
        command: |
          set -eu
          export TWINE_PASSWORD="$AGENT_PYPI_TOKEN"
          twine upload agent/dist/*.{tar.gz,whl}
        environment:
          TWINE_USERNAME: __token__
          TWINE_NON_INTERACTIVE: 'true'
    - run:
        name: Upload UI to PyPI
        command: |
          set -eu
          export TWINE_PASSWORD="$UI_PYPI_TOKEN"
          twine upload ui/dist/*.{tar.gz,whl}
        environment:
          TWINE_USERNAME: __token__
          TWINE_NON_INTERACTIVE: 'true'

  docker:
    docker: [{image: dalibo/buildpack-pkg:trixie}]
    working_directory: *working_directory
    steps:
    - checkout
    - setup_remote_docker
    - attach_workspace:
        at: *working_directory
    - run:
        name: Build Agent & UI Images
        command: |
          set -x
          make -j 2 docker-build-agent docker-build-ui

          RELEASE_TAG="${CIRCLE_TAG#v}"
          if [ -n "$RELEASE_TAG" ] ; then
            # Create release tag from snapshot.
            docker tag dalibo/temboard-agent:snapshot dalibo/temboard-agent:$RELEASE_TAG
            docker tag dalibo/temboard:snapshot dalibo/temboard:$RELEASE_TAG

            # Stable release tags (without letters in version)
            if ! expr match "$RELEASE_TAG" ".*[a-z]\+" >/dev/null ; then
              # Point latest to this build
              docker tag dalibo/temboard-agent:snapshot dalibo/temboard-agent:latest
              docker tag dalibo/temboard:snapshot dalibo/temboard:latest
              # Point 9 to this build.
              docker tag dalibo/temboard-agent:snapshot dalibo/temboard-agent:9
              docker tag dalibo/temboard:snapshot dalibo/temboard:9
            fi
          fi

          # Log available tags. Next steps will push them all.
          docker images dalibo/temboard*
    - run:
        name: Push to Docker Hub (only master and tags)
        command: |
          set -x
          if [ -z "${CIRCLE_TAG-}" ] && [ master != "${CIRCLE_BRANCH-}" ] ; then
            exit 0;
          fi
          docker login --username "${DOCKER_HUB_USERNAME}" --password-stdin \<<< "${DOCKER_HUB_TOKEN}"
          docker push --all-tags dalibo/temboard-agent
          docker push --all-tags dalibo/temboard
