<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h3>About DALIBO</h3>
        <p>DALIBO is the leading PostgreSQL company in France. We're providing services, training and support since 2005.</p>
        <p><a href="http://www.dalibo.com">www.dalibo.com</a></p>
      </div>
      <div class="col-md-4 ">
        <h3>Follow Us</h3>
        <ul class="list-inline">
          <li><a href="https://twitter.com/dalibolabs" class="btn"><i class="fa  fa-2x fa-twitter"></i></a></li>
          <li><a href="https://github.com/dalibo" class="btn"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a></li>
          <li><a href="http://www.dalibo.com" class="btn"><i class="fa fa-2x fa-laptop"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-md-12">
        Copyright &copy; DALIBO
      </div>
  </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
