<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link href="{{ "css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "css/bootstrap-theme.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="imgs/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon/favicon-16x16.png">
</head>
