<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link href="{{ "css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "css/bootstrap-theme.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="imgs/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="imgs/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="imgs/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="imgs/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="imgs/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="imgs/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="imgs/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="imgs/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="imgs/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="imgs/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="imgs/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="imgs/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="imgs/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="imgs/favicon/favicon-196x196.png" sizes="196x196">
</head>
