<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link href="{{ "css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "css/bootstrap-theme.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">

</head>
