#canvas-memory-holder{
	width:100%;
}
#canvas-cpu-holder{
	width:100%;
}
#canvas-hitratio-holder{
	width:100%;
}
#canvas-loadaverage-holder{
	width:100%;
}
#canvas-buffers-holder{
	width:100%;
}
#canvas-backends-holder{
	width:100%;
}
#canvas-tps-holder{
	width:100%;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

#logo {
	margin: 0px;
	padding: 10px 0px 10px 10px;
	font-size: 24px;
}

.panel-dashboard {
	margin: 0px 10px 10px 0px;
	width: 330px;
	float: left;
}

.row-dashboard {
	margin-left: 15px;
	padding: 0;
}

.row-dashboard .col-md-6 {
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
}

.row-dashboard .col-md-4 {
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
}

.row-dashboard .col-md-12 {
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
}

.row-dashboard .col-md-12 table {
	width: 100%;
	margin-bottom: 0px;
	border: 0;
}

.row-dashboard table tr td {
	border: 0;
	font-size: 11px;
}

.dashboard-info-val {
	color:#337AB7;
}
.row-dashboard table tr {
}

.row-dashboard .panel {
	height: 210px;
}

.popover-title {
    font-size: 12px;
	font-weight: bold;
	min-width: 200px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.popover-content {
    font-size: 11px;
	min-width: 200px;
}

.popover-content table {
	width: 100%;
	padding: 5px;
}

#formChangeServer select.form-control {
}

#page-wrapper {
	background-color: #fff;
	padding: 10px 0 0 0;
}

#page-wrapper h1 {
	font-size: 20px;
	color: #337AB7;
	margin: 0 0 10px 0;
}

#page-wrapper h1 i {
	color: #333;
}
.panel-heading {
	padding: 5px;
}

select.form-control {
	font-size: 12px;
}

#alert-configuration {
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	width: 500px;
}

#alert-configuration p {
	padding-top: 0px;
}

#alert-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}

#alert-configuration .close {
	margin-right: 5px;
}

#alert-configuration .modal .close {
	margin-right: 20px;
}

#error-configuration {
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	width: 500px;
}

#error-configuration p {
	padding-top: 0px;
}

#error-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}


#ok-configuration {
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	width: 500px;
}

#ok-configuration p {
	padding-top: 0px;
}

#ok-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}

#ok-configuration table {
	margin: 0px;
}

#ok-configuration .close {
	margin-right: 5px;
}

#configuration-row {
	margin-top: 20px;
}

.change-cat {
	width: 500px;
	margin-bottom: 20px;
}

.navbar {
	height: 0;
	border: 0;
	margin: 0;
	padding: 0;
	min-height: 0;
}

.sidebar {
	margin-top: 0;
}

.navbar .navbar-left table tr td {
	color: #666;
}

#tableHeaderInfo {
	border: 0;
	background-color: #fff;
	width: 100%;
}

#tableHeaderInfo tr td {
	border:0px;
	color: #111;
	padding: 0 5px 0px 5px;
	font-size: 11px;
}

#tableHeaderInfo tr td.pull-right {
	color:#337AB7;
}

#topNav {
	background-color: #E8E8E8;
	margin: 0px 0px 0px 0px;
}

.sidebar .sidebar-nav .nav li a i {
	color: #333;
}

#panelLogin {
	margin-top: 20px;
}

#restartModalBody h1 {
	text-align: center;
	color: #C9302C;
}
#restartModalBody h1 i {
	color: #C9302C;
}

#formSearchSettings {
	padding-left: 37px;
}

.table-activity {
	font-size: 11px;
}


.table-activity tr th.xs {
	width: 20px;
}

.table-activity tr th.sm {
	width: 35px;
}

.table-activity tr th.med {
	width: 70px;
}

.table-activity tr th.lg {
	width: 110px;
}


.table-activity > tbody > tr > td, .table-activity > tbody > tr > th {
	padding: 1px;
	vertical-align: middle;
}

.table-activity > tbody > tr > th {
	text-align: center;
}

.table-activity .input-xs {
	margin: 5px 0px 0px 0px;
}

.table-activity td.query {
	color:#337AB7;
}

.navActivity {
	padding: 10px 0px 0px 0px;
}

.alert-restricted {
	margin-top: 10px;
	padding: 10px;
}

table tbody tr td span {
	margin: 2px;
	line-height: 2.2em;
}

.no-sort::after { display: none!important; }

.no-sort {
	pointer-events: none!important;
	cursor: default!important;
}

td {
	font-size: 12px;
}

.modal-header {
	background-color: #f6f6f6;
}

.modal-body {
	padding-bottom: 0px;
}


.panel-settings {
	display: inline-block;
	column-break-inside: avoid;
	width: 500px;
}

.multi-col {
	-webkit-column-width: 500px;
	-moz-column-width: 500px;
	column-width: 500px;
}

.panel-settings table tr td.action-setting {
	width: 40px;
}
.panel-settings table tr td.label-setting {
	width: 200px;
}
.panel-settings table tr td.input-setting {
	width: 260px;
}

.supervision-chart {
	width: 100%;
	height: 300px;
}
