#canvas-memory-holder{
	width:100%;
}
#canvas-cpu-holder{
	width:100%;
}
#canvas-hitratio-holder{
	width:100%;
}
#canvas-loadaverage-holder{
	width:100%;
}
#canvas-buffers-holder{
	width:100%;
}
#canvas-backends-holder{
	width:100%;
}
#canvas-tps-holder{
	width:100%;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

#logo {
	margin: 0px;
	padding: 10px 0px 10px 10px;
	font-size: 24px;
}

.panel-dashboard {
	margin: 0px 0px 0px 0px;
}

.row-dashboard {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}
.row-dashboard .col-md-5 {
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
}

.row-dashboard .col-md-10 {
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
}

.row-dashboard .col-md-10 table {
	float: left;
	width: 49%;
	margin-right: 1%;
	margin-bottom: 0px;
}

.row-dashboard table tr td b span {
	color:#337AB7;
}
.row-dashboard table tr {
	font-size: 11px;
}

.row-dashboard .panel {
	height: 100%;
}

.popover-title {
    font-size: 12px;
	font-weight: bold;
	min-width: 200px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.popover-content {
    font-size: 11px;
	min-width: 200px;
}

.popover-content table {
	width: 100%;
	padding: 5px;
}

#formChangeServer select.form-control {
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

#page-wrapper {
	background-color: #fff;
	padding: 0px;
}

#page-wrapper h1 {
	font-size: 20px;
	color: #337AB7;
	margin-left: 15px;
	margin-bottom: 0px;
	margin-top: 10px;
}

#page-wrapper h1 i {
	color: #333;
}
.panel-heading {
	padding: 5px;
}

.sidebar .nav-third-level li a {
	padding: 5px;
	font-size: 12px;
}

select.form-control {
	font-size: 12px;
}

#alert-configuration {
	padding: 0px 20px 20px 20px;
	margin: 20px 10px 0px 15px;
	font-size: 12px;
}

#alert-configuration p {
	padding-top: 0px;
}

#alert-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}

#alert-configuration .close {
	margin-right: 5px;
}

#alert-configuration .modal .close {
	margin-right: 20px;
}

#error-configuration {
	padding: 0px 20px 20px 20px;
	margin: 20px 10px 0px 15px;
	font-size: 12px;
}

#error-configuration p {
	padding-top: 0px;
}

#error-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}


#ok-configuration {
	padding: 0px 20px 20px 20px;
	margin: 20px 10px 0px 15px;
	font-size: 12px;
}

#ok-configuration p {
	padding-top: 0px;
}

#ok-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}

#ok-configuration table {
	margin: 0px;
}

#ok-configuration .close {
	margin-right: 5px;
}

#configuration-row {
	margin-top: 20px;
}

.navbar {
	height: 0;
	border: 0;
	margin: 0;
	padding: 0;
	min-height: 0;
}

.sidebar {
	margin-top: 0;
}

.navbar .navbar-left table tr td {
	color: #666;
}

#tableHeaderInfo {
	margin-left: 20px;
	border: 0;
}

#tableHeaderInfo tr td {
	font-size: 10px;
	border:0px;
	color: #111;
}

#tableHeaderInfo tr td b {
	color:#337AB7;
}

#topNav {
	background-color: #E8E8E8;
	margin: 0px 0px 0px 0px;
}

.sidebar .sidebar-nav .nav li a i {
	color: #333;
}

#panelLogin {
	margin-top: 20px;
}

#restartModalBody h1 {
	text-align: center;
	color: #C9302C;
}
#restartModalBody h1 i {
	color: #C9302C;
}

#formSearchSettings {
	padding-left: 37px;
}

.table-activity {
	font-size: 11px;
}

.table-activity tr td.cpu {
	text-align: right;
}

.table-activity tr td.mem {
	text-align: right;
}

.table-activity tr td.yes {
	text-align: center;
	color: red;
	font-weight: bold;
}

.table-activity tr td.no {
	text-align: center;
	color: green;
	font-weight: bold;
}

.table-activity > tbody > tr > td.read {
	text-align: right;
}

.table-activity > tbody > tr > td.write {
	text-align: right;
}

.table-activity tr th.xs {
	width: 20px;
}

.table-activity tr th.sm {
	width: 35px;
}

.table-activity tr th.med {
	width: 50px;
}

.table-activity > tbody > tr > td, .table-activity > tbody > tr > th {
	padding: 1px;
	vertical-align: middle;
}

.table-activity > tbody > tr > th {
	text-align: center;
}

.table-activity .input-xs {
	margin: 5px 0px 0px 0px;
}

.table-activity td.query {
	color:#337AB7;
	font-weight: bold;
}

.navActivity {
	padding: 10px 0px 0px 0px;
}
