$daterangepicker-active-bg-color: $brand-primary;
$daterangepicker-ranges-hover-bg-color:  $brand-primary;
$daterangepicker-control-active-border-color:  $brand-primary;
$daterangepicker-ranges-color: $brand-primary;
$daterangepicker-cell-hover-bg-color: lighten($brand-primary, 50%);
$daterangepicker-in-range-bg-color: lighten($brand-primary, 60%);
