@import "bootstrap";
@import "daterangepicker-override";
@import "daterangepicker";


.navbar {
  border: 0;
}

.navbar-brand {
  padding: 0;
  padding-right: 15px;
}

.nav-tabs {
  /* always leave space under tabs */
  margin-bottom: 10px;
}

@media (min-width:992px) {
  .sidebar-fixed-width {
    width: inherit;
    min-width: 300px;
    max-width: 300px;
    position:relative;
    overflow: auto;
  }

  .main {
    width:calc(100% - 300px);
  }
}

/**
 * Home page instance list
 */
.instance-list {
  .dl-horizontal {
    margin-bottom: 0;
  }
  dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-group-item:hover {
    background-color: $table-bg-hover;
  }

  .sparkline-container {
    height: 50px;
    float: left;
    width: 50%;
  }
}

/**
 * This rule can be useful for plugins for which we don't need the full width.
 * Should be used just like Bootstrap's `.container` (ie. with rows and col-xx
 * inside).
 */
.limiter {
  max-width: 1000px;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
}

.row-dashboard {
  .panel-body table {
    width: 100%;
  }

  .panel-body {
    height: 190px;
  }
}

.table-dashboard-info > tbody > tr > {
  th {
    font-weight: normal;
  }

  td {
    font-weight: bold;
    text-align: right;
  }
}

.popover-title {
  font-size: 12px;
  font-weight: bold;
  min-width: 200px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.popover-content {
  font-size: 11px;
  min-width: 200px;

  table {
    width: 100%;
    padding: 5px;
  }
}

.panel-default > .panel-heading {
  border-bottom: 0px;

  &.panel-heading-inverse {
    background-color: $brand-primary;
  }
}

select.form-control {
  font-size: 12px;
}

#alert-configuration {

  p {
    padding-top: 0px;
  }

  h2 {
    font-size: 18px;
    padding: 0px;
    margin-top: 10px;
  }
}


#error-configuration {
  p {
    padding-top: 0px;
  }

  h2 {
    font-size: 18px;
    padding: 0px;
    margin-top: 10px;
  }
}



#ok-configuration {
  p {
    padding-top: 0px;
  }

  h2 {
    font-size: 18px;
    padding: 0px;
    margin-top: 10px;
  }

  table {
    margin: 0px;
  }
}


#configuration-row {
  margin-top: 20px;
}

.navbar .navbar-left table tr td {
  color: #666;
}

#logo {
  margin: 0px;
  padding: 10px 0px 10px 10px;
  font-size: 24px;
  color: #fff;
}

#panelLogin {
  margin-top: 20px;
}

#restartModalBody h1 {
  text-align: center;
  &, i {
    color: #C9302C;
  }
}

.table-activity {
  font-size: 11px;

  tr th {
    &.xs {
      width: 20px;
    }

    &.sm {
      width: 35px;
    }

    &.med {
      width: 70px;
    }

    &.lg {
      width: 110px;
    }
  }


  & > tbody > tr {
    & > td,
    & > th {
      padding: 1px;
      vertical-align: middle;
    }
  }

  & > tbody > tr > th {
    text-align: center;
  }

  .input-xs {
    margin: 5px 0px 0px 0px;
  }

  td.query {
    color:#337AB7;
  }
}

.alert-restricted {
  margin-top: 10px;
  padding: 10px;
}

table tbody tr td span {
  margin: 2px;
  line-height: 2.2em;
}

.no-sort::after { display: none!important; }

.no-sort {
  pointer-events: none!important;
  cursor: default!important;
}

.modal-header {
  background-color: #f6f6f6;
}

.modal-body {
  padding-bottom: 0px;
}

.title-setting {
  font-weight: bold;
  color: #000;
}

.desc-setting {
  color: #555;
}

.monitoring-chart {
  width: 100%;
  height: 300px;
}

.legend-chart, .visibility-chart {
  font-size: 12px;
}

#daterange {
  width: 300px;
  cursor: pointer;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  padding: $padding-small-vertical $padding-small-horizontal;
}

#HBATable {
  & > tbody > tr > td {
    padding: 1px;

    & > span {
      margin: 0px;
      line-height: 1;
    }

    & > button {
      padding: 0px 5px 0px 5px;
    }
  }

  .comment {
    color: red;
    font-style: italic;
  }

  .no {
    font-weight: bold;
    color: #999;
  }

  .connection,
  .database,
  .user {
    color: #337AB7;
  }
}

#divNotif10 {
  margin-top: 2px;
  width: 100%;
  overflow-y: auto;
}

ul.notifications {
  font-size: 11px;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    width: 100%;
    line-height: 1.8em;
    color: #333;
  }

  & > li > span.date-notification-db {
    color: #337AB7;
  }
}

td.date {
  color: #337AB7;
}

$glow-color-start: white;
$glow-color-end: lighten($brand-primary, 30%);
@keyframes glowing {
  0% { box-shadow: 0 0 3px $glow-color-start; }
  50% { box-shadow: 0 0 10px $glow-color-end; }
  100% { box-shadow: 0 0 3px $glow-color-start; }
}

.glow {
  animation: glowing 1500ms infinite;
}

.btn-danger {
  color: darken($brand-danger, 5%);
  background-color: white;
  border-color: $btn-default-border;
}

.table-no-margin {
  margin-bottom: 0;
}
