{% extends "base.html" %}

{% block title %}{{ super() }}/ Restricted area{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col col-xl-6 col-10">
    <div class="alert alert-danger alert-restricted" role="alert">
      <h4><i class="fa fa-ban fa-fw"></i> Restricted area <small></small></h4>
      <p>You are not allowed to access this page.<br/>
      Go <a href="/">back to home page</a>
      or ask your temBoard administrator to grant access to you.</p>
    </div>
  </div>
</div>
{% endblock %}
