{% extends "base.html" %}

{% block title %}temBoard / Reset password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mt-5">
      <div class="card-header bg-primary text-center">
        <img src="/images/temboard-150x32-w.png" />
      </div>
      <div class="card-body">
        <h5 class="text-center mb-3">Reset your password</h5>
        <p class="text-muted text-center mb-4">Enter your username or registered email.</p>
        <form method="POST">
          <div class="mb-3">
            <label for="inputIdentifier" class="form-label">Username or Email</label>
            <input type="text" name="identifier" class="form-control" id="inputIdentifier" placeholder="Username or Email" required autofocus>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Send password reset link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
