{% extends ../base.html %}

{% block title %}temBoard - Metadata{% end %}

{% block content %}
<div class="row">
  <div class="col-md-3 col-xl-2">
    {% include menu.html %}
  </div>
  <div class="col-md-9 col-xl-10">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/images/temboard-logo.png" />
      </div>
      <div class="col-12 text-center">
        <h3>Temboard UI {{ temboard_version }}</h3>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <dl id="temboard_metadata">
        <i class="fa-copy float-right" style="font-family: fontawesome;" role="button" onclick="copyToClipboard();"
          title="Copy to clipboard"></i>
        {% for key in infos %}
        <div class="d-flex flex-row">
          <dt class="p-1">{{ key }} :</dt>
          <dd class="p-1" id="{{ key }}">{{ infos[key] }}</dd>
        </div>
        {% end %}
      </dl>
    </div>
    <div class="row justify-content-center">
      <img src="/images/heron.png" />
    </div>
  </div>
</div>
<script src="/js/moment.min.js"></script>
<script>
  function copyToClipboard() {
    content=$('#temboard_metadata').html();
    var $temp=$("<input>");
    $("body").append($temp);
    $temp.val(content).select();
    document.execCommand("copy");
    $temp.remove();
    console.log('Copied Text');
  }

  function update_uptime() {
    $("#Uptime").html(moment.utc("{{infos['Uptime']}}").local().fromNow());
    t=setTimeout(update_uptime,60000);
  }

  $(document).ready(function() {
    update_uptime();
  });
</script>
{% end %}
