{% extends ../base.html %}

{% block title %}temBoard / Settings / Users{% end %}

{% block head %}
{% for link in vitejs.css_links_for('settings.users.js') %}{% raw link %}{% end %}
{% end %}

{% block content %}
<div id="app">
  <update-user-dialog ref="update_modal"></update-user-dialog>
  <delete-user-dialog ref="delete_modal"></delete-user-dialog>

  <div class="row">
    <div class="col-md-3 col-xl-2">
      {% include menu.html %}
    </div>
    <div class="col-md-9 col-xl-10">
      <div class="row">
        <div class="col-md-12 text-right">
          <p>
            <button id="buttonLoadAddUserForm" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalUpdateUser" v-on:click.prevent="$refs.update_modal.open()">
              New user
            </button>
          </p>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover" id="tableUsers" cellspacing="0">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th width="40">Active</th>
            <th width="40">Admin.</th>
            <th>Groups</th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
          </tr>
        </thead>
        <tbody>
          {% for role_item in role_list %}
          <tr>
            <td>{{role_item.role_name}}</td>
            <td>{{role_item.role_email or ''}}</td>
            <td>{{role_item.role_phone or ''}}</td>
            <td class="text-center" data-col="is-active">{% if role_item.is_active is True %}<span class="badge badge-success">Yes</span>{% else %}<span class="badge badge-danger">No</span>{% end %}</td>
            <td class="text-center" data-col="is-admin">{% if role_item.is_admin is True %}<span class="badge badge-success">Yes</span>{% else %}<span class="badge badge-danger">No</span>{% end %}</td>
            <td>{% for group in role_item.groups %} <span class="badge border text-muted">{{group.group_name}}</span>{% end %}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-outline-secondary btn-sm"
                data-bs-placement="bottom"
                title="Edit"
                data-bs-toggle="modal"
                data-bs-target="#modalUpdateUser"
                v-on:click.prevent="$refs.update_modal.open('{{ role_item.role_name }}')">
                <i class="fa fa-edit"></i></button>
            </td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-outline-secondary btn-sm"
                data-bs-toggle="modal"
                data-bs-placement="bottom"
                title="Delete"
                data-bs-target="#modalDeleteUser"
                v-on:click.prevent="$refs.delete_modal.open('{{ role_item.role_name }}')">
                <i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="module" src="{{ vitejs.url_for('settings.users.js') }}"></script>
{% end %}
