graft share
include packaging/temboard-agent@.service
include vendor.*

# Exclude build and test artifacts
exclude .dockerignore
prune packaging/nfpm
prune packaging/docker
prune tests
prune temboardagent/_vendor
