body {
}

#wrapper {
	width: 100%;
	min-width: 1000px;
	height: auto;
	/* background-color: #222; */
	min-height: 100vh;
	overflow: hidden;
}

#page-wrapper {
	padding: 0 15px;
	height: 100%;
	background-color: #fff;
	min-height: 100vh;
	margin: 0 0 0 250px;
	padding: 0 30px;
	border-left: 1px solid #e7e7e7;
}

#page-wrapper {
	background-color: #fff;
	padding: 10px 0 0 0;
}

.navbar {
	border: 0;
	width: 250px;
	min-height: 0;
	margin-bottom: -50000px; /* any large number will do */
	padding-bottom: 50000px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0px;
}

.sidebar {
	background-color: #222;
	min-height: 100%;
}

#canvas-memory-holder{
	width:100%;
}
#canvas-cpu-holder{
	width:100%;
}
#canvas-hitratio-holder{
	width:100%;
}
#canvas-loadaverage-holder{
	width:100%;
}
#canvas-buffers-holder{
	width:100%;
}
#canvas-backends-holder{
	width:100%;
}
#canvas-tps-holder{
	width:100%;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.panel-dashboard {
	margin: 0px 10px 10px 0px;
	width: 330px;
	float: left;
}

.row-dashboard {
	margin-left: 15px;
	padding: 0;
}

.row-dashboard .col-md-6 {
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
}

.row-dashboard .col-md-4 {
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
}

.row-dashboard .col-md-12 {
	margin: 0 0 10px 0;
	padding: 0 10px 0 0;
}

.row-dashboard .col-md-12 table {
	width: 100%;
	margin-bottom: 0px;
	border: 0;
}

.row-dashboard table tr td {
	border: 0;
	font-size: 11px;
}

.dashboard-info-val {
	color:#337AB7;
}
.row-dashboard table tr {
}

.row-dashboard .panel {
	height: 210px;
}

.popover-title {
	font-size: 12px;
	font-weight: bold;
	min-width: 200px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.popover-content {
	font-size: 11px;
	min-width: 200px;
}

.popover-content table {
	width: 100%;
	padding: 5px;
}

#page-wrapper h1 {
	font-size: 20px;
	color: #337AB7;
	margin: 0 0 10px 0;
}

#page-wrapper h1 i {
	color: #333;
}

.panel-default > .panel-heading {
	padding: 5px 5px 10px 10px;
	border-bottom: 0px;
}

select.form-control {
	font-size: 12px;
}

#alert-configuration {
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	width: 700px;
}

#alert-configuration p {
	padding-top: 0px;
}

#alert-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}

#alert-configuration .close {
	margin-right: 5px;
}

#alert-configuration .modal .close {
	margin-right: 20px;
}

#error-configuration {
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	width: 700px;
}

#error-configuration p {
	padding-top: 0px;
}

#error-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}


#ok-configuration {
	padding: 0px 20px 20px 20px;
	font-size: 12px;
	width: 700px;
}

#ok-configuration p {
	padding-top: 0px;
}

#ok-configuration h2 {
	font-size: 18px;
	padding: 0px;
	margin-top: 10px;
}

#ok-configuration table {
	margin: 0px;
}

#ok-configuration .close {
	margin-right: 5px;
}

#configuration-row {
	margin-top: 20px;
}

.change-cat {
	width: 700px;
	margin-bottom: 20px;
}


.navbar .navbar-left table tr td {
	color: #666;
}

.sidebar-nav ul li {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
	border-bottom: 1px solid #222;
}

.sidebar-nav ul li a {
	color: #aaa;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul li a.active {
	color: #fff;
}
.sidebar-nav ul li a.active i {
	color: #fff;
}
.sidebar-nav ul li a:hover {
	color: #fff;
	background-color: #222;
}
.sidebar-nav ul li a:hover i {
	color: #fff;
	background-color: #222;
}
.sidebar-nav ul li a:focus {
	color: #fff;
	background-color: #222;
}
.sidebar-nav ul li ul li{
	border-bottom: 1px solid #2d2d2d;
	background-color: #393939;
}
.sidebar-nav ul li ul li a {
}
.sidebar-nav ul li ul li a.active {
	color: #fff;
	background-color: #494949;
}
.sidebar-nav ul li ul li a.active i {
	color: #fff;
	background-color: #494949;
}
.sidebar-nav ul li ul li a:hover {
	color: #fff;
	background-color: #494949;
}
.sidebar-nav ul li ul li a:hover i {
	color: #fff;
	background-color: #494949;
}
.sidebar-nav ul li ul li a:focus {
	color: #fff;
	background-color: #393939;
}

#logo {
	margin: 0px;
	padding: 10px 0px 10px 10px;
	font-size: 24px;
	color: #fff;
}

.sidebar-nav {
	background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
	background-image: linear-gradient(to right, #333333 10px, #222222 10px);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}

#tableHeaderInfo {
	border: 0;
	background-color: #393939;
	width: 100%;
}

#tableHeaderInfo tr td {
	border: 0;
	color: #aaa;
	padding: 0 5px 0px 5px;
	font-size: 11px;
}

#tableHeaderInfo tr td.pull-right {
	color: #5DA5DA;
}

#panelLogin {
	margin-top: 20px;
}

#restartModalBody h1 {
	text-align: center;
	color: #C9302C;
}
#restartModalBody h1 i {
	color: #C9302C;
}

#formSearchSettings {
	padding-left: 37px;
}

.table-activity {
	font-size: 11px;
}


.table-activity tr th.xs {
	width: 20px;
}

.table-activity tr th.sm {
	width: 35px;
}

.table-activity tr th.med {
	width: 70px;
}

.table-activity tr th.lg {
	width: 110px;
}


.table-activity > tbody > tr > td, .table-activity > tbody > tr > th {
	padding: 1px;
	vertical-align: middle;
}

.table-activity > tbody > tr > th {
	text-align: center;
}

.table-activity .input-xs {
	margin: 5px 0px 0px 0px;
}

.table-activity td.query {
	color:#337AB7;
}

.navActivity {
	padding: 10px 0px 0px 0px;
}

.alert-restricted {
	margin-top: 10px;
	padding: 10px;
}

table tbody tr td span {
	margin: 2px;
	line-height: 2.2em;
}

.no-sort::after { display: none!important; }

.no-sort {
	pointer-events: none!important;
	cursor: default!important;
}

td {
	font-size: 12px;
}

.modal-header {
	background-color: #f6f6f6;
}

.modal-body {
	padding-bottom: 0px;
}


.panel-settings {
	width: 700px;
}

.panel-settings table tr td.action-setting {
	width: 40px;
	vertical-align: middle;
}
.panel-settings table tr td.label-setting {
	width: 400px;
}
.panel-settings table tr td.input-setting {
	width: 260px;
	vertical-align: middle;
}

.title-setting {
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.desc-setting {
	color: #555;
	font-size: 12px;
	text-align: justify;
}

.supervision-chart {
	width: 100%;
	height: 300px;
}

#contDTP {
	/*margin-bottom: 5px;*/
	min-width: 500px; 
}

.row-chart {
	margin-top: 10px;
}

.legend-chart, .visibility-chart {
	font-size: 12px;
}

.form-date-picker {
	min-width: 700px;
	display: inline;
	text-align: right;
}

#HBATable > tbody > tr > td {
	padding: 1px;
}
#HBATable > tbody > tr > td > span {
	margin: 0px;
	line-height: 1;
}

#HBATable > tbody > tr > td > button {
	padding: 0px 5px 0px 5px;
}

#HBATable .comment {
	color: red;
	font-style: italic;
}

#HBATable .no {
	font-weight: bold;
	color: #999;
}

#HBATable .connection,.database,.user {
	color: #337AB7;
}

#divNotif10 {
	margin-top: 2px;
	width: 325px;
	height: 168px;
	overflow-y: scroll;
}

ul.notifications {
	font-size: 11px;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.notifications li {
	width: 100%;
	line-height: 1.8em;
	color: #333;
}

ul.notifications > li > span.date-notification-db {
	color: #337AB7;
}

td.date {
	color: #337AB7;
}
