# Read The Docs uses Python 3.7 as of late 2022.
mkdocs==1.4.1 ; python_version >= '3.7'
mkdocs-material==8.5.6 ; python_version >= '3.7'
mkdocs-git-revision-date-localized-plugin==1.1.0; python_version >= '3.7'
mkdocs-glightbox==0.3.0; python_version >= '3.7'
