include LICENSE
include packaging/temboard.service
include temboardui/model/queries/*.sql
graft temboardui/model/versions
graft temboardui/static
graft temboardui/templates
graft temboardui/plugins/pgconf/static
graft temboardui/plugins/pgconf/templates
graft temboardui/plugins/activity/static
graft temboardui/plugins/activity/templates
graft temboardui/plugins/dashboard/static
graft temboardui/plugins/dashboard/templates
graft temboardui/plugins/monitoring/static
graft temboardui/plugins/monitoring/templates
graft temboardui/plugins/maintenance/static
graft temboardui/plugins/maintenance/templates
graft temboardui/plugins/statements/static
graft temboardui/plugins/statements/templates
graft share
global-exclude *.pyc

exclude .dockerignore
exclude .gitmodules
exclude *.config.js
exclude Makefile
exclude package.json
exclude package-lock.json
prune docs
prune packaging/deb
prune packaging/docker
prune packaging/rpm
prune temboardui/static/src
prune tests
