{% extends "base.html" %}

{% block title %}temBoard / {{instance}} / Monitoring{% endblock %}

{% block head %}
<link href="/css/dygraph.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="app">
  <alerting-check />
</div>

<script src="/js/dygraph.min.js"></script>
<script type="module" src="{{ vitejs.url_for('alerting.check.js') }}"></script>
<script>
var apiUrl = "/server/{{instance.agent_address}}/{{instance.agent_port}}/alerting"
var checkInitialData = {
  name: "{{check['name']}}",
  description: "{{ check['description']}}",
  valueType: "{{value_type}}",
  warning: {{'{0:g}'.format(check['warning'] | float)}},
  critical: {{'{0:g}'.format(check['critical'] | float)}},
  enabled: {{ check["enabled"] | tojson }}
}
</script>
{% endblock %}
