services:
  rhel9: &rhel
    image: dalibo/buildpack-pkg:rockylinux9
    volumes:
      - ../..:/workspace
    working_dir: /workspace
    entrypoint: ["/usr/local/sbin/tini", "--"]
    command: /workspace/packaging/nfpm/mkrpm.sh

  rhel8:
    <<: *rhel
    image: dalibo/buildpack-pkg:rockylinux8

  trixie: &mkdeb
    <<: *rhel
    image: dalibo/buildpack-pkg:trixie
    command: /workspace/packaging/nfpm/mkdeb.sh

  bookworm:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:bookworm

  bullseye:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:bullseye

  jammy:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:jammy

  noble:
    <<: *mkdeb
    image: dalibo/buildpack-pkg:noble
