<!DOCTYPE html>
<html lang="en">

<head>
   	<meta charset="utf-8">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<meta name="description" content="">
   	<meta name="author" content="">

	<title>{% block title %} {% end %}</title>
   	<!-- Bootstrap -->
   	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- MetisMenu CSS -->
   	<link href="/css/metisMenu.min.css" rel="stylesheet">

   	<!-- Timeline CSS -->
   	<link href="/css/timeline.css" rel="stylesheet">

   	<!-- Custom CSS -->
   	<link href="/css/sb-admin-2.css" rel="stylesheet">

   	<!-- Custom Fonts -->
   	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   	<!--[if lt IE 9]>
   		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   	<![endif]-->
   	<link href="/css/ganeshwebui.css" rel="stylesheet">
</head>
<body>
	<div id="modalError" /></div>
	<div id="wrapper">
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- Metis Menu Plugin JavaScript -->
		<script src="/js/metisMenu.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/js/sb-admin-2.js"></script>

	<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">OPM3</a>
			</div>
			<div class="navbar-left" id="divHeaderInfo">
				{% try %}
				{% if info %}
				<table class="table table-condensed" id="tableHeaderInfo">
				<tr>
					<td>Hostname: <b>{{ info['hostname'] }}</b></td>
					<td>PG Version: <b>{{ info['pg_version'] }}</b></td>
					<td>PG data: <b>{{info['pg_data']}}</b></td>
				</tr>
				<tr>
					<td>Host: <b>{{ ganeshd_host }}</b></td>
					<td>PG Port: <b>{{ info['pg_port'] }}</b></td>
					<td>OS: <b>{{ info['os_version'] }}</b></td>
					<td></td>
				</tr>
				</table>
				{% end %}
				{% except %}
				{% end %}
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
   			<form class="form-inline navbar-form navbar-right" id="formChangeServer"  role="server">
				<label class="sr-only" for="selectServer">Server</label>
				<div class="input-group">
					<div class="input-group-addon">Server</div>
					<select class="form-control" id="selectServer">{% for server in servers %}<option value="/server/{{server['host']}}/{{server['port']}}/{{current_page}}"{% if ganeshd_host == server['host'] and ganeshd_port == server['port'] %} selected="selected" {% end %}>{{server['hostname']}} ({{server['host']}}:{{server['port']}})</option>{% end %}</select>
				</div>
				<button type="submit" class="btn btn-primary" id="buttonChangeServer">Change</button>
	  		</form>
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/login"><i class="fa fa-user fa-fw"></i> Login</a></li>
						{% try %}
						{% if xsession and info %}
						<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
						<li>
		  					<a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/administration/configuration">Configuration</a></li>
 								<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/administration/hba">Host Base Authentication</a></li>
		  					</ul>
						</li>
						{% end %}
						{% except %}
						{% end %}
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<script>
		$('#formChangeServer').on('submit', function(event) {
			event.preventDefault();
			window.location.replace($('#selectServer').find(':selected').attr('value'));
		});
		// Popover activation
		$(function () {
  			$('[data-toggle="popover"]').popover()
		})
		</script>
		<div id="page-wrapper">
			{% block content %} {% end %}
		</div>
	</div>
</body>
</html>
