<!DOCTYPE html>
<html lang="en">

<head>
   	<meta charset="utf-8">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<meta name="description" content="">
   	<meta name="author" content="">

	<title>{% block title %} {% end %}</title>
   	<!-- Bootstrap -->
   	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- MetisMenu CSS -->
   	<link href="/css/metisMenu.min.css" rel="stylesheet">

   	<!-- Timeline CSS -->
   	<link href="/css/timeline.css" rel="stylesheet">

   	<!-- Custom CSS -->
   	<link href="/css/sb-admin-2.css" rel="stylesheet">

   	<!-- Custom Fonts -->
   	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   	<!--[if lt IE 9]>
   		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   	<![endif]-->
   	<link href="/css/ganeshwebui.css" rel="stylesheet">
	<!-- CodeMirror -->
	<script src="/codemirror/lib/codemirror.js"></script>
	<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
	<script src="/codemirror/mode/javascript/javascript.js"></script>
	<script src="/codemirror/addon/selection/active-line.js"></script>
	<style type="text/css">
      .CodeMirror {
        border: 1px solid #eee;
        height: auto;
		font-size: 12px;
      }
    </style>
</head>
<body>
	<div id="modalError" /></div>
	<div id="wrapper">
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- Metis Menu Plugin JavaScript -->
		<script src="/js/metisMenu.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/js/sb-admin-2.js"></script>

	<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" id="topNav">
			<div class="navbar-header" id="divHeaderLogo">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li><h1 id="logo">Ganesh</h1></li>
						<li>
   							<form class="form" id="formChangeServer"  role="server">
								<label class="sr-only" for="selectServer">Server</label>
								<div class="input-group">
									<select class="form-control input-sm" id="selectServer">{% for server in servers %}<option value="/server/{{server['host']}}/{{server['port']}}/{{current_page}}"{% if ganeshd_host == server['host'] and ganeshd_port == server['port'] %} selected="selected" {% end %}>{{server['hostname']}} ({{server['host']}}:{{server['port']}})</option>{% end %}</select>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-sm btn-primary" id="buttonChangeServer">Go</button>
      								</span>
								</div>
	  						</form>
						</li>
				{% try %}
				{% if info %}
						<li>
							<table id="tableHeaderInfo">
								<tr><td>Hostname: </td><td class="pull-right"><b>{{ info['hostname'] }}</b></td></tr>
								<tr><td>Host: </td><td class="pull-right"><b>{{ ganeshd_host }}</b></td></tr>
								<tr><td>PG data: </td><td class="pull-right"><b>{{info['pg_data']}}</b></td></tr>
								<tr><td>PG Port: </td><td class="pull-right"><b>{{ info['pg_port'] }}</b></td></tr>
							</table>
						</li>
				{% end %}
				{% except %}
				{% end %}
						<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/login"><i class="fa fa-user fa-fw"></i> Login</a></li>
						{% try %}
						{% if xsession and info %}
						<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
						<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/activity"><i class="fa fa-bars fa-fw"></i> Activity</a></li>
						<li>
		  					<a href="#"><i class="fa fa-wrench fa-fw"></i> Administration<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level in">
								<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/administration/configuration">PostgreSQL Settings</a></li>
 								<li>
		   							<form method="get" action="/server/{{ganeshd_host}}/{{ganeshd_port}}/administration/configuration" class="form" id="formSearchSettings"  role="search">
										<label class="sr-only" for="selectServer">Search</label>
										<div class="input-group">
											<input class="form-control input-sm" id="inputSearchSettings" name="filter" placeholder="Find in settings"/>
											<span class="input-group-btn">
												<button type="submit" class="btn btn-sm btn-primary" id="buttonSearchSettings"><i class="glyphicon glyphicon-search"></i></button>
      										</span>
										</div>
	  								</form>
								</li>
								<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/administration/hba">Host Base Authentication</a></li>
								<li><a href="/server/{{ganeshd_host}}/{{ganeshd_port}}/administration/pg_ident">User Name Maps</a></li>
		  					</ul>
						</li>
						{% end %}
						{% except %}
						{% end %}
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<script>
		$('#formChangeServer').on('submit', function(event) {
			event.preventDefault();
			window.location.replace($('#selectServer').find(':selected').attr('value'));
		});
		// Popover activation
		$(function () {
  			$('[data-toggle="popover"]').popover()
		})
		</script>
		<div id="page-wrapper">
			{% block content %} {% end %}
		</div>
	</div>
</body>
</html>
