{% extends base2.html %}

{% block title %}[{{ ganeshd_host }}] - Administration &gt; PostgreSQL Configuration{% end %}

{% block content %}
<div class="row">
	<div class="col-md-10">
		{% if file_type == 'hba' %}
		<h1><i class="fa fa-wrench fa-fw"></i> Host Base Authentication</h1>
		{% elif file_type == 'pg_ident' %}
		<h1><i class="fa fa-wrench fa-fw"></i> User Name Maps</h1>
		{% end %}
	</div>
	<div class="col-md-2"></div>
</div>
{% try %}
{% if ret_post %}
<div class="row">
	<div class="col-md-10">
		<div id="ok-configuration" class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2><i class="fa fa-check-circle fa-fw"></i> OK </h2>
			{% if file_type == 'hba' %}
			<p>HBA file successfully updated and configuration reloaded.</p>
			{% elif file_type == 'pg_ident' %}
			<p>pg_ident.conf file successfully updated and configuration reloaded.</p>
			{% end %}
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% end %}
{% except %}
{% end %}

{% try %}
{% if error_code > 0%}
<div class="row">
	<div class="col-md-10">
		<div id="error-configuration" class="alert alert-danger" role="alert">
			<h2><i class="fa fa-ban fa-fw"></i> Error <small></small></h2>
			<p>{{error_code}}: {{error_message}}</p>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% end %}
{% except %}
{% end %}
<div class="row" id="configuration-row">
	<div class="col-md-12"></div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">{{file_content['filename']}}</div>
				<div class="panel-body">
					<form role="form" method="post">
						<textarea id="textareaFileContent" name="content">{{file_content['content']}}</textarea>
						<div class="row">
							<div class="col-md-2 col-md-offset-5">
								<button type="submit" class="btn btn-sm btn-primary">Save and reload configuration</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<script>
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('textareaFileContent')
, {
		value: document.getElementById('textareaFileContent').value,
		lineNumbers: true,
		viewportMargin: Infinity,
		styleActiveLine: true,
		lineWrapping: true
	}
);
</script>
{% end %}
