{% extends base.html %}

{% block title %}[{{ ganeshd_host }}] - Login{% end %}

{% block content %}
		<script>
		$('#liNavLogin').attr('class','active');
		$('#srNavLogin').html('(current)');
		</script>
		<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		<h1>Login</h1>
		{% try %}{% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% end %}{% except %}{% end %}
		<div class="well">
		<form class="form-horizontal" action="login" method="post">
			<div class="form-group">
				<label for="inputUsername" class="col-sm-3 control-label">Username</label>
				<div class="col-xs-6">
					<input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-3 control-label">Password</label>
				<div class="col-xs-6">
					<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-10">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</div>
		</form>
		</div>
		</div>
		</div>
{% end %}
